@font-face {
  font-family: font;
  src: url(./transcity.regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
  background-image: url(./background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px 10px;
    overflow: hidden;
    background: linear-gradient(
          to bottom right,
          #080A09,
          #252726,
          #252726,
          #080A09
        )
        content-box,
      conic-gradient(from var(--rotate), #122232, #dcc88a, #122232, #dcc88a)
        padding-box;
    animation: changeBorder 10s linear infinite;
    img {
      width: 60%;
      //   height: 100%;
      object-fit: cover;
      margin-top: -10%;
    }
    p {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: -20%;
      text-align: center;
      // background-image: url("./text.png");
      // background-size: cover;
      // background-position: center;
      // color: transparent;
      // -webkit-background-clip: text;
      // background-clip: text;
      font-family: font;
      color: #E7DAC7;
      letter-spacing: 2px;
    }
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes changeBorder {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}
